<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="flashcard-application">
    <meta name="author" content="noerojas">

    <title>Cram-Sesh</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Cram-Sesh</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <% if(user && typeof user !== 'undefined') { %>
                  <li><a href="/dashboard">Dashboard</a></li>
            <% }
               else { %>
                  <li><a href="/users/register">Register</a></li>
            <% } %>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
          </ul>

          <% if(user && typeof user !== 'undefined') { %>
              <form class="navbar-form navbar-right" method="get" action="/logout">
                <button type="submit" class="btn btn-success">Logout</button>
              </form>
          <% } %>

        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="bg-info">Contact us</h2>
      <p>If you have any questions, don't hesitate to ask! Our service team will try to respond as fast as possible.</p>

       <div class="row">
      <div class="col-lg-12">
        <h3 class="bg-info">Mailing Address</h3>
        <p> 800 N State College Blvd, Fullerton, CA 92831</p>
      </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
        <h3 class="bg-info">E-mail</h3>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>E-Mail</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td>Noe Rojas</td>
              <td>noerojas@csu.fullerton.edu</td>
            </tr>
            <tr>
              <td>Jonathan Saysay</td>
              <td>jsaysay5@gmail.com</td>
            </tr>
            <tr>
              <td>Alan Adame</td>
              <td>email@email.com</td>
            </tr>
            <tr>
              <td>Zach Qiu</td>
              <td>email@email.com</td>
            </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <h2 class= "bg-info">Submit any inquiries here.</h2>
      <form id="contactform">
        <div class="form-group">
          <input type="text" id="name" placeholder="name" class="form-control"><br>
        </div>
        <div class="form-group">
          <input type="email" id="email" placeholder="email" class="form-control"><br>
        </div>
        <div class="form-group">
          <textarea id="message" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" id="button" placeholder="submit" class="form-control">
        </div>
      </form>
    </div>
  </div>
</div>


    <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous">
    </script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
